body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  background: #1c1c33;

  .nav {
    display: flex;
    justify-content: center;
    padding: 38px;
  }

  a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .logo {
    margin-left: 82px;
    margin-right: 240px;
  }
}

.about {
  background: #23233b;
  position: relative;
  padding-bottom: 200px;

  .about__desc {
    width: 615px;
    height: 630px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    h3 {
      margin-top: 145px;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      border-bottom: 2px solid green;
      width: 150px;
      letter-spacing: 1px;
    }
    h1 {
      color: white;
      font-size: 60px;
    }
    h4 {
      width: 530px;
      color: #f6f6f8;
      font-size: 22px;
      font-weight: 400;
    }
    p {
      color: wheat;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  width: 160px;
  height: 100px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 65px;
  background: #57d9a6;
}

.about__images {
  .intro__image {
    position: absolute;
    top: 158px;
    left: 50%;
    z-index: 9;
  }

  .intro__bg {
    position: absolute;
    top: 120px;
    left: 45%;
  }

  .one {
    position: absolute;
    top: 108px;
    left: 69%;
    z-index: 10;
  }

  .two {
    position: absolute;
    top: 120px;
    left: 80%;
    z-index: 10;
  }

  .three {
    position: absolute;
    top: 370px;
    left: 70%;
    z-index: 10;
  }
}

/////////////////////////// section courses /////////////////////////@

section {
  height: 3000px;
}

.courses__info {
  width: 1440px;
  height: 1000px;
  background: #23233b;
  padding-bottom: 100px;
  .courses__text {
    margin-left: 377px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 330px;
    padding-top: 140px;
    h2 {
      margin: 0;
      color: white;
      font-size: 45px;
      text-transform: uppercase;
      margin-bottom: 20px;
      border-bottom: 2px solid #57d9a6;
    }
    p {
      color: white;
      font-size: 22px;
      font-weight: 700;
      margin-top: 30px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      width: 220px;
      height: 80px;
      font-size: 30px;
      font-weight: 700;
      border-radius: 5px;
      background: #57d9a6;
      margin-top: 45px;
    }
  }

  .courses__cards {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 80px;
    width: 1300px;
    height: 430px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 393px;
    height: 225px;
    align-items: center;
    background: white;

    .card__text {
      background: white;
      width: 393px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 20px;
      }

      a {
        text-decoration: none;
        color: #57d9a6;
        font-weight: 700;
        font-size: 25px;
      }
    }
  }
  .courses__recomendation {
    width: 1440px;
    height: 665px;
    background: #1c1c33;
    margin-top: 100px;
    display: flex;

    .courses__recomendation__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 50px;
      width: 625px;
      height: 380px;
      margin-top: 140px;
      .underline {
        border: 1px solid green;
        width: 150px;
      }

      h3 {
        font-size: 44px;
        font-weight: 700;
        color: white;
        margin: 0;
        margin-bottom: 15px;
      }

      p {
        font-size: 22px;
        color: white;
        width: 618px;
        height: 100px;
      }

      a {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background: green;
        color: black;
        width: 170px;
        height: 60px;
        border-radius: 5px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.courses__review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 150px;
  background: #57d9a6;
  flex-direction: column;

  .courses__review__text {
    font-size: 30px;
    font-weight: 700;
    width: 1000px;
    height: 130px;
    text-align: center;
  }
}

.courses__teacher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 830px;
  background: #1c1c33;
  position: relative;
}
.courses__teacher__image {
  .teacher {
    position: absolute;
    left: 85px;
    top: 150px;
    z-index: 8;
  }

  .teacher__two {
    position: absolute;
    left: 80px;
    top: 180px;
    z-index: 10;
  }
  .teacher__three {
    position: absolute;
    left: 130px;
    top: 100px;
    z-index: 10;
  }
  .teacher__four {
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 300px;
  }
}
.courses__teacher__text {
  margin-right: 85px;
  color: white;
  width: 615px;

  .underline {
    border: 1px solid green;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
  }
  p {
    font-size: 22px;
  }

  a {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: black;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 50px;
    
  }
}

////////////////////////////////footer////////////////////////

.footer__info {
  height: 700px;
  padding-top: 100px;
  background: #23233b;
  position: relative;
  .footer__logo {
    margin-left: 50px;
    margin-bottom: 80px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 300px;
  }

  .footer__form {
    width: 1000px;
    height: 310px;
    background: #57d9a6;
    position: absolute;
    left: 15%;
    top: 29%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
      width: 400px;
      height: 65px;
      background: #57d9a6;
      border-radius: 4px;
    }

    .titles {
      font-size: 20px;
      font-weight: 700;
    }

    #submit {
      background: #1c1c33;
      width: 120px;
      height: 65px;
      border-radius: 4px;
      color: #57d9a6;
      text-transform: uppercase;
      font-size: 20px;

      &:hover{
        background: rgb(200, 214, 6);
        color: black;
        transition: 1s ;
        
      }
    }

    


    h3 {
      text-align: center;
      font-size: 44px;
      margin-top: 30px;
    }
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    &:hover{
      text-decoration: underline;
      color: yellow;
      transition: 0.7s;
    }
  }
}
