body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1c1c33;
}
.menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px;
}
.menu a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.menu .logo {
  margin-left: 82px;
  margin-right: 240px;
}

.about {
  background: #23233b;
  position: relative;
  padding-bottom: 200px;
}
.about .about__desc {
  width: 615px;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 80px;
}
.about .about__desc h3 {
  margin-top: 145px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid green;
  width: 150px;
  letter-spacing: 1px;
}
.about .about__desc h1 {
  color: white;
  font-size: 60px;
}
.about .about__desc h4 {
  width: 530px;
  color: #f6f6f8;
  font-size: 22px;
  font-weight: 400;
}
.about .about__desc p {
  color: wheat;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  width: 160px;
  height: 100px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 65px;
  background: #57d9a6;
}

.about__images .intro__image {
  position: absolute;
  top: 158px;
  left: 50%;
  z-index: 9;
}
.about__images .intro__bg {
  position: absolute;
  top: 120px;
  left: 45%;
}
.about__images .one {
  position: absolute;
  top: 108px;
  left: 69%;
  z-index: 10;
}
.about__images .two {
  position: absolute;
  top: 120px;
  left: 80%;
  z-index: 10;
}
.about__images .three {
  position: absolute;
  top: 370px;
  left: 70%;
  z-index: 10;
}

section {
  height: 3000px;
}

.courses__info {
  width: 1440px;
  height: 1000px;
  background: #23233b;
  padding-bottom: 100px;
}
.courses__info .courses__text {
  margin-left: 377px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 650px;
  height: 330px;
  padding-top: 140px;
}
.courses__info .courses__text h2 {
  margin: 0;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 2px solid #57d9a6;
}
.courses__info .courses__text p {
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}
.courses__info .courses__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 220px;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  background: #57d9a6;
  margin-top: 45px;
}
.courses__info .courses__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
  margin-top: 80px;
  width: 1300px;
  height: 430px;
}
.courses__info .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 393px;
  height: 225px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}
.courses__info .card .card__text {
  background: white;
  width: 393px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__info .card .card__text p {
  font-size: 20px;
}
.courses__info .card .card__text a {
  text-decoration: none;
  color: #57d9a6;
  font-weight: 700;
  font-size: 25px;
}
.courses__info .courses__recomendation {
  width: 1440px;
  height: 665px;
  background: #1c1c33;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.courses__info .courses__recomendation .courses__recomendation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
  width: 625px;
  height: 380px;
  margin-top: 140px;
}
.courses__info .courses__recomendation .courses__recomendation__text .underline {
  border: 1px solid green;
  width: 150px;
}
.courses__info .courses__recomendation .courses__recomendation__text h3 {
  font-size: 44px;
  font-weight: 700;
  color: white;
  margin: 0;
  margin-bottom: 15px;
}
.courses__info .courses__recomendation .courses__recomendation__text p {
  font-size: 22px;
  color: white;
  width: 618px;
  height: 100px;
}
.courses__info .courses__recomendation .courses__recomendation__text a {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: green;
  color: black;
  width: 170px;
  height: 60px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
}

.courses__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 140px;
  padding-bottom: 150px;
  background: #57d9a6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses__review .courses__review__text {
  font-size: 30px;
  font-weight: 700;
  width: 1000px;
  height: 130px;
  text-align: center;
}

.courses__teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 830px;
  background: #1c1c33;
  position: relative;
}

.courses__teacher__image .teacher {
  position: absolute;
  left: 85px;
  top: 150px;
  z-index: 8;
}
.courses__teacher__image .teacher__two {
  position: absolute;
  left: 80px;
  top: 180px;
  z-index: 10;
}
.courses__teacher__image .teacher__three {
  position: absolute;
  left: 130px;
  top: 100px;
  z-index: 10;
}
.courses__teacher__image .teacher__four {
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 300px;
}

.courses__teacher__text {
  margin-right: 85px;
  color: white;
  width: 615px;
}
.courses__teacher__text .underline {
  border: 1px solid green;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.courses__teacher__text h3 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}
.courses__teacher__text p {
  font-size: 22px;
}
.courses__teacher__text a {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: green;
  color: black;
  width: 170px;
  height: 60px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 50px;
}

.footer__info {
  height: 700px;
  padding-top: 100px;
  background: #23233b;
  position: relative;
}
.footer__info .footer__logo {
  margin-left: 50px;
  margin-bottom: 80px;
}
.footer__info .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 300px;
}
.footer__info .footer__form {
  width: 1000px;
  height: 310px;
  background: #57d9a6;
  position: absolute;
  left: 15%;
  top: 29%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__info .footer__form .input {
  width: 400px;
  height: 65px;
  background: #57d9a6;
  border-radius: 4px;
}
.footer__info .footer__form .titles {
  font-size: 20px;
  font-weight: 700;
}
.footer__info .footer__form #submit {
  background: #1c1c33;
  width: 120px;
  height: 65px;
  border-radius: 4px;
  color: #57d9a6;
  text-transform: uppercase;
  font-size: 20px;
}
.footer__info .footer__form #submit:hover {
  background: #c8d606;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}
.footer__info .footer__form h3 {
  text-align: center;
  font-size: 44px;
  margin-top: 30px;
}
.footer__info a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.footer__info a:hover {
  text-decoration: underline;
  color: yellow;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}